@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;700&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #1313ec;
  --color-background-light: #f6f6f8;
  --color-background-dark: #101022;
  
  --font-family-display: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;
  
  --radius: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

@variant dark (&:where(.dark, .dark *)) {
}